.container-skills{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


.container{
  position: relative;
  margin: 20px auto;
  text-align: center;
  width: 100%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  padding: 15px 10px;
}


.wrapper-skills{
  max-width: 50%;

  .content-skills{
    text-align: left;

    p{
      line-height: 25px;
    }
  }

  .dark-content{
    @extend .content-skills;
    color: #f1f1f1;
  }
  .switch {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 102px;
    width: 100%;
  }
  .switch-button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 16px;  
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #f0f0f0;
    }
  
    &.active {
      background-color: #e2aa0f;
      color: #333;
    }
  }
  
}

.layout-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .step-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    .line{
      width: 3%;
      background-color: #bbb;
      height: 4.5vw;
    }

    h3{
      margin-bottom: 50px;
      order: -1;
      width: 102px;
      transform: rotate(-90deg);
      color: #bbb;
    }
  }
}


.container-dark {
  @extend .container;
  box-shadow: 0 3px 4px rgba(255, 255, 255, 0.2);
}


@media (max-width: 586px) {
  .container-skills{
    flex-direction: column;
    padding: 0px;
  }
  .wrapper-skills{
    max-width: 100%;
    padding: 10px;

    .content-skills{
      text-align: left;
    }

    .switch {
      margin-top: 20px;
      margin-left: 0;
      justify-content: center;
    }
  }  
  .layout-content{
    flex-direction: column;

    .step-skills{
      flex-direction: column;
      .line{
        transform: rotate(-90deg);
      }
  
      h3{
        transform: rotate(0deg);
        margin: 0;
      }
    }
  }
}