nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #f1f1f1;
}

.menuBars{
  display: none;
}

.navDark{
  @extend nav;
  background-color: #333;
  color: #f1f1f1;

  .menu ul li a{
    color: #f1f1f1;
    font-weight: 500;
  }
}

.logo h2 {
  margin: 0 0 0 100px;
}

.menu ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;

  li {
    margin: 0 20px;

    a {
      text-decoration: none;
      color: #333;
      font-weight: 500;

      &:hover {
        font-weight: 600;
        padding: 10px 0;
        margin: 0;
        border-bottom: 2px solid;
      }    
    }
  }
}

.darkMode  {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #b0b0b0;
  width: 70px;
  height: 25px;
  margin-right: 80px;
}


.iconCheck{
  width: 100%;
  padding: 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
}

input:checked + .darkMode {
  background-color: #444;
}

input:checked + .darkMode .iconCheck{
  transform: translateX(42px);
}

input {
  display: none;
}



@media (max-width: 768px) {
  .bars {
    display: none;
    transition: opacity 0.5s ease;
    animation: fadeOut 0.5s ease forwards;
  } 

  .menuActive{
    display: block;
    transition: opacity 0.5s ease;
    animation: fadeOut 0.5s ease forwards;
  }
  
  .bars ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: pointer;
  
    li {
      margin: 10px 0;
      
      a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
  
        &:hover {
          font-weight: 600;
          padding: 10px 0;
          margin: 0;
          border-bottom: 2px solid;
        }    
      }
    }
  }

  
  .darkBg ul{
    @extend .bars;
    background-color: #333;
    li{

      a{
        color: #fff;
      }
    }
  }

  .logo h2 {
    margin: 0 0 0 15px;
  }
  
  .menuBars{
    display: block;
    font-size: 30px;
    margin-right: 15px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}